body {
	margin: 0px;
}

div#header {
	height: 1.5em;
	vertical-align: middle;
}

div#header a.selected {
	background-color: #232323;
	color: #fff;
}

div#header a.selected:hover {
	background-color: #232323;
}

div#header a {
	background-color: #EEEEEE;
	color: #000;
	display: inline-block;
	width: 33.3333%;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	height: 1.5em !important;
	vertical-align: middle;
}

div#header a:hover {
	background-color: #D8D8D8;
}

div#main {
	padding: 1em;
	height: calc(100vh - 3.5em);
	overflow-y: scroll;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table#overview td {
	text-align: center;
	padding-right: 1em;
}

table#overview tr:not(:first-child) {
	border-top: 1px solid #EEEEEE;
}

table#games td {
	text-align: center;
}

form#submit input[type="number"] {
	width: 2em;
}

form#submit p {
	margin-bottom: 0px;
}